<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beiming.juc.mybatisplus.mapper.MqConsumerLogMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.beiming.juc.mybatisplus.domain.entity.MqConsumerLog">
    <result column="id" property="id"/>
    <result column="msg_id" property="msgId"/>
    <result column="msg_body" property="msgBody"/>
    <result column="consumer_count" property="consumerCount"/>
    <result column="exception" property="exception"/>
    <result column="topic" property="topic"/>
    <result column="group" property="group"/>
    <result column="properties_string" property="propertiesString"/>
    <result column="transaction_id" property="transactionId"/>
    <result column="status" property="status"/>
    <result column="remark" property="remark"/>
    <result column="create_user" property="createUser"/>
    <result column="create_time" property="createTime"/>
    <result column="update_user" property="updateUser"/>
    <result column="update_time" property="updateTime"/>
    <result column="version" property="version"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
      a.id,
      a.msg_id,
      a.msg_body,
      a.consumer_count,
      a.exception,
      a.topic,
      a.group,
      a.properties_string,
      a.transaction_id,
      a.status,
      a.remark,
      a.create_user,
      a.create_time,
      a.update_user,
      a.update_time,
      a.version
    </sql>

</mapper>
